.navbar {
    color: var(--color-text-p);
    background-color: var(--color-bg-s);
    box-shadow: var(--shadow-medium);
}

.navbar-links a {
    color: var(--color-text-p);
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.navbar-links a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.navbar-links a.active {
    background-color: var(--color-accent-p);
    color: var(--color-text-p);
}

.card {
    background-color: var(--color-bg-card);
    border-radius: var(--radius-medium);
    box-shadow: var(--shadow-medium);
    border: var(--border-thickness-thin) solid #e2e8f0;
}

.card h3 {
    color: var(--color-text);
}

.container {
    background-color: var(--color-bg-s);
    color: var(--color-text-p);
}

.grid {
    background-color: var(--color-bg-p);
    color: var(--color-text-s);
}

body {
    background-color: var(--color-bg-p);
}