body {
    display: flex;
    padding: var(--space-small);
    flex-direction: column;
}

textarea {
    width: var(--textarea-width);
    height: var(--textarea-height);
    border-radius: var(--radius-small);
    border-width: 0;
}

input {
    width: var(--input-width);
    height: var(--input-height);
    border-radius: var(--radius-small);
    border-width: 0;
}

button {
    border-radius: var(--radius-medium);
    border-width: 0;
    width: var(--button-width);
    height: var(--button-height);
    align-items: center;
}

select {
    width: var(--select-width);
    height: var(--select-height);
    border-radius: var(--radius-small);
    border-width: 0;
}

.container {
    padding: var(--space-small);
    border-radius: var(--radius-medium);
}

.navbar {
    padding: var(--space-medium);
    margin-bottom: var(--gap-medium);
    border-radius: var(--radius-medium);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.navbar-links a {
    padding: var(--space-small) var(--space-medium);
    border-radius: var(--radius-medium);
    font-size: var(--text-size-menu-items-small);
}

.navbar-links a.active {
    font-size: var(--text-size-menu-items-small);
}

.navbar-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: var(--space-small);
}

.navbar-links li {
    margin: 0;
}

.navbar-brand h1 {
    font-size: var(--text-size-title);
    margin-top: 0;
    margin-bottom: var(--space-medium);
}
.card {
    padding: var(--space-medium);
}

.card h3 {
    margin-top: 0;
}

.grid {
    display: grid;
    gap: var(--space-medium);
}

.create-issue-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--space-medium);
}

.create-issue-form h2 {
    margin-bottom: 0;
}

.create-issue-form p {
    margin-top: 0;
}

.create-issue-form-project-picker {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--space-medium);
}

.create-issue-form-title {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--space-medium);
}

.create-issue-form-desc {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--space-medium);
}

.create-issue-form-create-button {
    display: grid;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form h2 {
    margin-bottom: 0;
}

.login-form p {
    margin-top: 0;
}

.login-form-username {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--space-medium);
}

.login-form-password {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--space-medium);
}

@media (max-width: 550px) {
    .navbar-links a {
        padding: var(--space-small) var(--space-medium);
        border-radius: var(--radius-medium);
        font-size: var(--text-size-menu-items-smaller);
    }

    .navbar-links a.active {
        font-size: var(--text-size-menu-items-smaller);
    }
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .navbar-links {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        gap: var(--space-small);
    }
    .navbar-links a {
        padding: var(--space-small) var(--space-medium);
        border-radius: var(--radius-medium);
        font-size: var(--text-size-menu-items-medium);
    }
}

@media (min-width: 1200px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}