:root {
    
    --color-primary: #2563eb;
    --color-secondary: #10b981;

    --color-accent-p: #5997fa;
    --color-accent-p-hover: #60A5FA;
    --color-accent-p-active: #2563EB;
    
    --color-accent-s-purple: #8B5CF6;
    --color-accent-s-cyan: #22D3EE;
    --color-accent-s-pink: #EC4899;

    --color-bg-p: #0F1117;
    --color-bg-s: #161B22;
    --color-bg-card: #4b4b4b;

    --color-text-p: #E6EDF3;
    --color-text-s: #d9eaea;
    --color-text-disabled: #6B7280;
    --color-text-link: #007bff;

    --color-success: #05742e;
    --color-warning: #927035;
    --color-error: #a40e0e;
    --color-info: #06B6D4;
    
    --color-button: #2657a7;
    --color-button-text: white;

    --color-required-text: rgba(241, 68, 68, 0.8);

    --text-size-menu-items-smaller: 12px;
    --text-size-menu-items-small: 17px;
    --text-size-menu-items-medium: 20px;
    --text-size-menu-items-large: 30px;
    --text-size-title: 35px;

    --text-family-p: 'Arial';
    --text-family-input-field: 'Arial';

    --text-font-size-primary: medium;
    --text-font-size-secondary: small;

    --space-extra-small: 4px;
    --space-small: 8px;
    --space-medium: 20px;
    --space-large: 40px;
    
    --gap-small: 8px;
    --gap-medium: 20px;
    --gap-large: 40px;

    --radius-small: 4px;
    --radius-medium: 8px;
    --radius-large: 20px;
    
    --shadow-medium: 0 4px 12px rgba(0,0,0,0.1);
    
    --font-base: clamp(14px, 1.2vw, 18px);

    --border-thickness-thin: 1px;
    --border-thickness-thick: 3px;

    --textarea-width: 100%;
    --textarea-max-width: 100%;
    --textarea-min-width: 300px;
    --textarea-height: 100px;
    --textarea-max-height: 330px;
    --textarea-min-height: 100px;

    --input-width: 100%;
    --input-height: 25px;

    --button-width: 100px;
    --button-height: 28px;

    --select-width: 100%;
    --select-height: 25px;

    --error-card-width: 500px;
    --error-card-height: 200px;

    --max-width-container: 1200px;
    --max-width-navbar: 1240px;
}